<div class="header" id="header">
	<%= link_to logo, root_path %>
	<ul class="navigation round">
		<li> <%= link_to "Home", root_path %> </li>
		<li> <%= link_to "Sign in", '#' %> </li>
	</ul> <%# end of class="navigation round" %>
</div> <%# end of div class="header" %>
